:root {
    /* colours */
    --main-white: #ffffff;
    --light-gray: #bababa;
    --medium-gray: #8d8d8d;
    --dark-gray: #3a3a3a;
    --light-blue: #a6cbeb;
    --dark-blue: #4c96d7;

    /* fonts */
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: "Arial Narrow Bold", sans-serif;
    --font-base: 18px;
    --font-big: 1.2em;
    --font-small: .8em;

    /* other variables */
    --background-image: url("/phpmotors/images/site/checkerboard.jpg");
}

/* common/mobile styling */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    background-color: var(--main-white);
    margin: 0;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--dark-gray);
    margin: 0;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .login {
    padding: 1em;
}

/* --nav top-- */
nav {
    background-color: var(--dark-gray);
    color: var(--main-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

nav a,
nav a.active,
nav a:hover {
    text-decoration: none;
    width: auto;
}

nav a {
    padding: 10px;
}

nav a.active,
nav a:hover {
    margin: -4px 0;
    padding: 16px 10px;
}

nav a:hover {
    background-color: var(--light-blue);
    color: var(--dark-gray);
}

nav a.active {
    background-color: var(--dark-blue);
    color: black;
}

/* --footer-- */
footer {
    margin-top: auto;
    font-size: var(--font-small);
    text-align: center;
}

footer .banner-container {
    overflow: hidden;
    width: 100%;
    height: 132px;
    margin: 0 auto;
}

footer .banner-checkerboard {
    width: 100%
}

footer #last-updated {
    display: none;
}

/* h1,h2,h3,h4,h5,h6 {} */

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding: 12px;
}

button {
    background-color: inherit;
    margin: auto;
    display: block;
    border: 0;
    font-size: var(--font-big);
    color: var(--dark-gray);
    cursor: pointer;
}

main {
    margin: auto;
}

/* content styling */

/* home page */
div.hero-banner,
div.main-content {
    margin: 0 auto;
    max-width: 500px;
}
div.hero-banner {
    font-size: var(--font-small);
    color: var(--dark-gray);
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 100px;
}
div.hero-banner aside {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 4;
    margin-left: 2em;
}
div.hero-banner .call-heading {
    margin: 0;
}
div.hero-banner aside p {
    margin: 0;
}
div.hero-banner #hero-delorean {
    grid-area: 1 / 1 / 2 / 3;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
div.hero-banner #hero-call {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    align-self: center;
}

div.main-content {
    display: block;
}

section.reviews li {
    margin: 1em;
}

section.upgrades {
    margin-bottom: 1em;
}
section.upgrades .card-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    align-items: center;
    margin: 0 0.5em 0.5em;
}
section.upgrades .card {
    width: 100%;
    text-align: center;
}
section.upgrades .card a {
    padding: 0;
}
section.upgrades .card-img {
    background: var(--dark-blue);
    border: 2px solid var(--dark-gray);
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* section.upgrades .card-img img {} */
/* section.upgrades .card a {} */


/* medium (and large) screen styling */
@media only screen and (min-width: 768px) {

    html {
        background-image: var(--background-image);
    }

    body {
        background: var(--main-white);
        max-width: 768px;
        margin: 0.5em auto 0;
        border: solid 4px var(--dark-blue);
        border-radius: 6px;
        display: block;
        min-height: auto;
    }

    main {
        margin: auto 0.5em;
    }

    /* increase nav padding */
    nav {
        padding-left: 6px;
    }

    nav a,
    nav a.active,
    nav a:hover {
        text-align: center;
    }

    nav a {
        padding: 16px;
    }

    nav a.active,
    nav a:hover {
        margin: -4px 0;
        padding: 20px 16px;
    }

    footer {
        margin-top: 0;
    }
    footer p {
        margin: 0 auto;
    }

    /* hide bottom banner, show last updated */
    footer .banner-container {
        display: none;
    }

    footer #last-updated {
        display: block;
    }

    div.hero-banner, 
    div.main-content {
        max-width: 900px;
    }

    div.hero-banner {
        font-size: var(--font-big);
    }
    div.hero-banner .call-heading {
        color: var(--dark-blue);
        font-size: var(--font-big);
    }

    div.main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    div.main-content section.upgrades {
        grid-area: 1/1/2/2;
    }
    div.main-content section.reviews {
        grid-area: 1/2/2/3;
    }


}


/* (just) large screen styling */
@media only screen and (min-width: 1250px) {
    body {
        max-width: 1080px;
        min-height: auto;
    }

    main {
        margin: auto;
    }

    div.hero-banner {
        grid-template-rows: 5em 75px 1fr;
    }
    div.hero-banner aside {
        grid-area: 1/1/2/2;
        margin-left: 0;
    }
    div.hero-banner #hero-call {
        grid-area: 2/1/3/2;
        max-width: 66%;
        justify-self: left;
    }
    div.hero-banner #hero-delorean {
        grid-area: 1/1/4/3;
    }

    div.main-content {
        margin: 0 auto;
    }

}

/* special classes */
.divider {
    border-bottom: 4px solid var(--dark-gray);
}

.divider-top {
    border-top: 4px solid var(--dark-gray);
}